*{
    padding: 0px;
    margin: 0px;
}
.calculatar-body{
    width: 25%;
    margin: auto;
    border: 1px solid gray;
    box-shadow: 2px 2px gray;
   
    margin-top: 50px;
    border-radius: 5px;
    padding: 15px;
}
.calculator-monitor{
    height: 80px;
    border-radius: 5px;
    background-color: rgb(213, 213, 213);
    text-align: end;
    
}
.calculator-monitor h2{
   
    padding: 30px 10px 10px 0px;
    color: rgb(56, 56, 56);
}
.dial-pad{
    margin-top: 30px;
    border-radius: 5px;
    border: 1px solid #f1f1f1;
   
    padding: 10px;
}
.button{
    display: flex;
    justify-content: space-around;
}
button{
    list-style: none;
    margin: 5px;
    font-size: 25px;
    font-weight: 600;
    border: 1px solid #f1f1f1;
    border-radius: 3px;
    padding: 30px;
    width: 40px;
    height: 40px;
    text-align: center;
    cursor: pointer;
    margin-top: 10px;
}

button:hover{
    background-color:rgb(17, 33, 50);
    box-shadow: 2px 2px lightseagreen;
    color:white;
}
